.footer {
  display: flex;
  justify-content: space-around;
  padding: 5em 0;
  background-color: var(--clr-black);
  color: var(--clr-white);
}

article h5 {
  margin-bottom: 2rem;
}

article h6 {
  margin-top: 2rem;
}

article p {
  font-size: 1.4rem;
}

.footer__text-lg {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  padding-top: 8em;
}
